body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
}

.webgl {
  outline: none;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}

#resize-btn {
  position: sticky;
  float: left;
  top: 0;
  left: -15px;
  font-size: 0;
  width: 5px;
  height: 100vh;
  outline: none;
  border: none;
  cursor: ew-resize;
  background: #4c494985;
  transition: background-size 300ms ease-in-out;
  cursor: col-resize;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
}

#codeblock {
  position: relative;
  margin-left: 100%;
  overflow: hidden;
  width: 50vw;
  max-height: 100vh;
  height: 100%;
  overflow-y: scroll;
  transition: margin 0.5s ease-in-out;
}

#codeblock pre {
  margin: 0;
}

#codeblock > div > div {
  padding-left: 35px;
}

#debugger {
  position: absolute;
  left: 0;
  top: 0;
}

.language-js {
  margin: 0;
}

.dg.main.a {
  transition: margin 0.5s ease-in-out;
  float: none;
  margin-right: 0;
  margin-left: 100%;
  transform: translateX(-100%);
}
